.headline
    display: flex
    justify-content: center
    align-items: center
    padding-top: 116px
    letter-spacing: 0.2em
    text-transform: capitalize
    &__subtitle
        position: absolute

.green__line
    background: #34C759
    width: 60px
    height: 2px
    margin: 53px auto 0
