.main
    &__title
        font-weight: 700
        font-size: 72px
        line-height: 84px
        text-align: center
        letter-spacing: 0.1em
        text-transform: capitalize
        margin: 80px auto 0
        span
            font-weight: 300
    
    &__subtitle
        font-size: 16px
        line-height: 26px
        text-align: center
        letter-spacing: -0.2px
        mix-blend-mode: normal
        opacity: 0.7
        width: 595px
        height: 52px
        margin: 16px auto 0

    &__btn
        @include button
        line-height: 22px
        letter-spacing: 0.2em
        padding: 25px 57px
        margin: 40px auto 0
        display: block

    &__info
        display: flex
        justify-content: space-around
        margin: 70px auto 0
        padding: 0
        list-style-type: none

    &__contact
        display: flex
        flex-direction: column
        align-items: center
        &-title
            padding-top: 16px
            font-size: 16px
            line-height: 30px
        &-subtitle
            font-size: 14px
            opacity: 0.5
            